@font-face {
  font-family: "RedHat";
  src: local("Red Hat"), url("../fonts/RedHatText-Regular.woff2") format("woff2"), url("../fonts/RedHatText-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RedHat";
  src: local("Red Hat"), url("../fonts/RedHatText-Medium.woff2") format("woff2"), url("../fonts/RedHatText-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ReemKufi";
  src: local("Reem Kufi"), url("../fonts/ReemKufi-Regular.woff2") format("woff2"), url("../fonts/ReemKufi.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

h2,
h3 {
  color: #222222;
}

h2 {
  font-family: "ReemKufi";
  font-weight: 400;
  font-size: 70px;
  margin-bottom: 30px;
}

@media (max-width: 1240px) {
  h2 {
    font-size: calc(30px + 40 * ((100vw - 320px) / 920));
  }
}

@media (max-width: 1240px) {
  h2 {
    margin-bottom: calc(10px + 20 * ((100vw - 320px) / 920));
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.none {
  display: none;
}

.hover,
a {
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  cursor: pointer;
}

.hover:hover,
a:hover {
  color: #1d79e4;
}

.list-reset {
  list-style: none;
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1440px;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 1240px) {
  .container {
    padding-left: calc(15px + 85 * ((100vw - 320px) / 920));
  }
}

@media (max-width: 1240px) {
  .container {
    padding-right: calc(15px + 85 * ((100vw - 320px) / 920));
  }
}

.section-content {
  max-width: 50%;
}

.section-subtitle {
  line-height: 1.6;
  margin-bottom: 40px;
}

@media (max-width: 1240px) {
  .section-subtitle {
    margin-bottom: calc(15px + 25 * ((100vw - 320px) / 920));
  }
}

.btn {
  background-color: #1d79e4;
  color: #fff;
  border-radius: 60px;
  font-size: 18px;
  padding: 16px 32px;
  border: none;
  cursor: pointer;
}

body {
  font-family: "RedHat", Arial, Verdana, sans-serif;
  max-width: 1440px;
  overflow-x: hidden !important;
  margin: 0 auto;
  width: 100%;
}

.back {
  color: #fff;
  background-image: url("../img/back.jpg");
  background-position: center center;
}

.header {
  font-size: 20px;
}

@media (max-width: 1240px) {
  .header {
    font-size: calc(16px + 4 * ((100vw - 320px) / 920));
  }
}

.header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

@media (max-width: 1240px) {
  .header_container {
    padding-top: calc(20px + 10 * ((100vw - 320px) / 920));
  }
}

.header_menu_item:not(:last-child) {
  margin-right: 40px;
}

@media (max-width: 1240px) {
  .header_menu_item:not(:last-child) {
    margin-right: calc(25px + 15 * ((100vw - 320px) / 920));
  }
}

.header_burger {
  display: none;
}

.hero_container {
  width: 60%;
  padding-top: 120px;
  padding-bottom: 140px;
}

@media (max-width: 1240px) {
  .hero_container {
    padding-top: calc(30px + 90 * ((100vw - 320px) / 920));
  }
}

@media (max-width: 1240px) {
  .hero_container {
    padding-bottom: calc(30px + 110 * ((100vw - 320px) / 920));
  }
}

.hero_title {
  font-family: "ReemKufi";
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 30px;
}

@media (max-width: 1240px) {
  .hero_title {
    font-size: calc(35px + 35 * ((100vw - 320px) / 920));
  }
}

@media (max-width: 1240px) {
  .hero_title {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 920));
  }
}

.hero_subtitle {
  color: #eeeeee;
  margin-right: 18px;
  margin-bottom: 50px;
  line-height: 2;
  width: 70%;
}

@media (max-width: 1240px) {
  .hero_subtitle {
    margin-right: calc(15px + 3 * ((100vw - 320px) / 920));
  }
}

@media (max-width: 1240px) {
  .hero_subtitle {
    margin-bottom: calc(20px + 30 * ((100vw - 320px) / 920));
  }
}

.subheader {
  background-color: #f4f8fe;
}

.subheader_container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subheader_column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 500;
  padding-top: 90px;
  padding-bottom: 90px;
}

.subheader_column span {
  font-size: 70px;
}

@media (max-width: 1240px) {
  .subheader_column span {
    font-size: calc(35px + 35 * ((100vw - 320px) / 920));
  }
}

.subheader_column p {
  font-size: 24px;
}

@media (max-width: 1240px) {
  .subheader_column p {
    font-size: calc(16px + 8 * ((100vw - 320px) / 920));
  }
}

@media (max-width: 1240px) {
  .subheader_column {
    padding-top: calc(30px + 60 * ((100vw - 320px) / 920));
  }
}

@media (max-width: 1240px) {
  .subheader_column {
    padding-bottom: calc(30px + 60 * ((100vw - 320px) / 920));
  }
}

.about {
  padding-top: 140px;
  padding-bottom: 100px;
}

@media (max-width: 1240px) {
  .about {
    padding-top: calc(30px + 110 * ((100vw - 320px) / 920));
  }
}

@media (max-width: 1240px) {
  .about {
    padding-bottom: calc(30px + 70 * ((100vw - 320px) / 920));
  }
}

.about_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

@media (max-width: 1240px) {
  .about_container {
    margin-bottom: calc(30px + 20 * ((100vw - 320px) / 920));
  }
}

.pictire_section {
  margin-right: 100px;
}

@media (max-width: 1240px) {
  .pictire_section {
    margin-right: calc(15px + 85 * ((100vw - 320px) / 920));
  }
}

.about_describe {
  line-height: 1.5;
  font-size: 20px;
}

.about_describe p {
  margin-bottom: 20px;
}

.about_describe_list {
  list-style: square;
  padding-left: 20px;
}

.about_describe_list li {
  margin-bottom: 10px;
}

.doctors {
  padding-bottom: 100px;
}

@media (max-width: 1240px) {
  .doctors {
    padding-bottom: calc(30px + 70 * ((100vw - 320px) / 920));
  }
}

.doctors_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socials_links, .doctors_content {
  margin-bottom: 40px;
}

@media (max-width: 1240px) {
  .socials_links, .doctors_content {
    margin-bottom: calc(40px + 0 * ((100vw - 320px) / 920));
  }
}

.socials_link {
  color: #1d79e4;
  font-size: 40px;
  margin-right: 30px;
}

@media (max-width: 1240px) {
  .socials_link {
    margin-right: calc(15px + 15 * ((100vw - 320px) / 920));
  }
}

.doctors_picture_pict img {
  height: 400px;
  min-width: 40%;
}

@media (max-width: 1240px) {
  .doctors_picture_pict img {
    height: calc(250px + 150 * ((100vw - 320px) / 920));
  }
}

.picture_doctors {
  height: 400px;
}

@media (max-width: 1240px) {
  .picture_doctors {
    height: calc(250px + 150 * ((100vw - 320px) / 920));
  }
}

.swiper-slide {
  padding-bottom: 20px;
}

.doctor_cart {
  position: relative;
  -webkit-box-shadow: 2px 10px 9px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 10px 9px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.doctor_cart p {
  font-size: 18px;
}

.doctor_cart h3, .doctor_cart p {
  padding: 25px;
}

.doctor_cart h3 {
  font-size: 20px;
  padding-bottom: 0;
}

.doctor_cart a {
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
}

.doctor_cart img {
  width: 100%;
}

.swiper-button-next:after {
  content: url("../img/next.svg");
}

.swiper-button-prev:after {
  content: url("../img/next.svg");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.footer {
  background-color: #F4F8FE;
  padding-bottom: 80px;
  padding-top: 80px;
}

@media (max-width: 1240px) {
  .footer {
    padding-bottom: calc(30px + 50 * ((100vw - 320px) / 920));
  }
}

@media (max-width: 1240px) {
  .footer {
    padding-top: calc(30px + 50 * ((100vw - 320px) / 920));
  }
}

.footer_container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h4 {
  font-size: 24px;
}

@media (max-width: 1240px) {
  h4 {
    font-size: calc(18px + 6 * ((100vw - 320px) / 920));
  }
}

.footer_column {
  line-height: 1.8;
}

.footer_socials_link {
  margin-right: 30px;
  margin-top: 20px;
}

@media (max-width: 1240px) {
  .footer_socials_link {
    margin-right: calc(28px + 2 * ((100vw - 320px) / 920));
  }
}

@media (max-width: 1240px) {
  .footer_socials_link {
    margin-top: calc(10px + 10 * ((100vw - 320px) / 920));
  }
}

.footer_socials_link svg circle {
  -webkit-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.footer_socials_link svg circle:hover {
  fill: #222222;
}

@media (max-width: 640px) {
  .about_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-content {
    max-width: 90%;
  }
  .pictire_section {
    margin: 0 0 40px 0;
  }
  .btn {
    width: 70%;
  }
}
/*# sourceMappingURL=style.css.map */