@media (max-width: 820px){
    .footer_column-links{
        display: none;
    }
    }

    
@media (max-width: 640px){
.about_container, .blog_container {
    flex-direction: column;
}
.section-content {
    max-width: 90%;
}
.pictire_section{
    margin: 0 0 40px 0;
}
.btn{
    width: 70%;
}
.blog_button{
    width: 50%;
}
.footer_column-more{
    display: none;
}
#docs{
    display: none;
}
}
@media (max-width: 500px){
    .footer_container{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        font-size: 24px;
    }
    .footer_column-contact{
        margin-bottom: 30px;
    }
    .footer_socials_link {
        margin: 0 auto;
    }
}